<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Detalhes do Paciente</ion-title>
      <ion-buttons id="btn-menu"  slot="start">
        <ion-menu-button id="btn-menu" when="xl"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <h3>Informações do Cuidador</h3>
      <ion-item><p><b>Nome:</b> {{ cuidador?.nome }}</p></ion-item>
      <ion-item><p><b>Sexo:</b> {{ cuidador?.sexo }}</p></ion-item>
      <ion-item><p><b>Data de Nascimento:</b> {{ cuidador?.dataNascimento }}</p></ion-item>
      <ion-item><p><b>Telefone:</b> {{ cuidador?.telefone }}</p></ion-item>
      <ion-item><p><b>Endereço:</b> {{ cuidador?.endereco }}</p></ion-item>
      <h3>Informações do Paciente</h3>
      <ion-item><p><b>Nome:</b> {{ cuidador?.paciente.nome }}</p></ion-item>
      <ion-item><p><b>Sexo:</b> {{ cuidador?.paciente.sexo }}</p></ion-item>
      <ion-item><p><b>Data de Nascimento:</b> {{ cuidador?.paciente.dataNascimento }}</p></ion-item>
      <ion-item><p><b>Telefone:</b> {{ cuidador?.paciente.telefone }}</p></ion-item>
      <ion-item><p><b>Endereço:</b> {{ cuidador?.paciente.endereco }}</p></ion-item>
      <ion-item><p><b>Instituição:</b> {{ cuidador?.paciente.instituicao }}</ion-item>
    </ion-list>
    
  
  </ion-content>
