<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Cuidadores</ion-title>
    <ion-buttons id="btn-menu"  slot="start">
      <ion-menu-button id="btn-menu" when="xl"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="myForm">
      <h2> Lista dos Cuidadores</h2>
      <ion-list>
        <ion-item button *ngFor="let cuidador of lista"  (click)="visualizar(cuidador.key)">
        <a>Cuidador: {{ cuidador.nome }}</a>
        </ion-item>
      </ion-list>
  </div>

  <div text-center>
      <ion-button fill="outline" text-center class="btn-add" (click)="goToCadastroPacientes()">
      <ion-icon name="add-circle-outline"></ion-icon>
        Cadastrar Cuidador
      </ion-button>
    </div>




</ion-content>
