<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Formulários</ion-title>
    <ion-buttons id="btn-menu"  slot="start">
      <ion-menu-button id="btn-menu" when="xl"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list class="myForm">
      <div text-center color="primary"><h1 color="primary">Formulários</h1></div>
      <ion-item *ngFor="let form of listaForms" button (click)="goToEdit(form.key)">
        <ion-icon color="primary" name="list-box"></ion-icon>
        <ion-label color="primary">
            Cuidador: {{ form.cuidador }}
        </ion-label>
      </ion-item>

      <div text-center>
          <ion-button fill="outline" text-center class="btn-add" (click)="goToFormulario()">
            <ion-icon name="add-circle-outline"></ion-icon>
            Preencher formulário
          </ion-button>
      </div>

    </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" type="button" (click)="goToFormulario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
