<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Formulários</ion-title>
    <ion-buttons id="btn-menu"  slot="start">
      <ion-menu-button id="btn-menu" when="xl"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list class="myForm">
      <div text-center color="primary"><h1 color="primary">Formulários de {{userName}}</h1></div>
      <div *ngFor="let form of listaForms">
        <ion-item button *ngIf="form.cuidador == userName" (click)="goToDetails(form.key)">
          <ion-icon color="primary" name="list-box"></ion-icon>
          <p type="date" color="primary">Formulário {{form?.tipoLigacao}} - Data: {{form?.data | date:'dd/MM/yyyy'}}</p>
        </ion-item>
      </div>
      

      <div text-center>
          <ion-button fill="outline" text-center class="btn-add" (click)="goToFormulario()">
            <ion-icon name="add-circle-outline"></ion-icon>
            Preencher formulário
          </ion-button>
      </div>

    </ion-list>
  
</ion-content>
