    
@import url('https://fonts.googleapis.com/css?family=Roboto');

.validateMsg{
    white-space: pre-line !important;
    font-weight: bold;
}

.alert{
    color:red;
    font-weight: bold;
}

.legendBox{
    margin-right:20%;
    margin-left: 20%;
    background-color:#f1f1f1;
    padding:10px;
    margin-bottom: 10px;
}

.alertBox{
    margin-right:20%;
    margin-left: 20%;
    background-color:#f2f2f2;
    text-align:center;
    padding:10px;
    margin-bottom: 50px;
}

.myForm{
    padding-left:60px;
    padding-right:60px;
    padding-top:20px;
    padding-bottom:70px;
    font-family: 'Roboto', sans-serif !important;
    border-radius: 5px;
    border: solid 2px #f2f2f2;
    margin-left:70px;
    margin-right:70px;
    margin-top:40px;
    background:#fff !important;
}

.myForm h1{
    text-align: center !important;
}

.pos-center{
    text-align:center !important;
}

ion-toolbar  button{
        background-color: #3880ff;
        width: 70px;
        height: 40px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom:5px;
        margin-top:5px;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
        font-family: "Times New Roman", Times, serif;
        font-size:14px;
}

.font-roboto{
    font-family: 'Roboto', sans-serif !important;
}

.btn-save{
    text-align: center;
    background-color:#1fb950;
    width:150px;
    text-align: center !important;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    font-size:16px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

.myForm h1{
    margin-bottom:50px !important;
}